<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Helper Methods</title>
		<%= use_google_font('Roboto') %>
  </head>
  <body>
  	I have <%= pluralize(0, "cat") %>.
  </body>
</html>
